version: '3.8'

services:
  web-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1337:1337"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: carelink_db
      DATABASE_USERNAME: carelink_user
      DATABASE_PASSWORD: "@Ihsan53295"
      DATABASE_SSL: 'false'
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: