.staff-card-image.staff-card-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background: linear-gradient(135deg, #b2ebf2 0%, #0097a7 100%);
  border-radius: 24px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.staff-card-image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.staff-card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
